@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body{
    /* width: 100%;
    height: 100vh; */
   margin: 0%;
   padding: 0;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
.heading{
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    color: whitesmoke;
    background: transparent;
    text-shadow: 0px 3px 15px rgb(113, 115, 119,);
    font-size: 20px;
    height: 90px;
    margin-bottom: 10px;
}
.name{
    font-size: 25px;
}
.name .mydetails{
    font-size: 14px;
    margin-top: 5px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 90vh;
}

.calculator{
    border: 1px solid grey;
    padding: 20px 20px;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(113, 115, 119,0.5) ;
    width: 35vw;
}

input{
    width: 100%;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: whitesmoke;
}

input::placeholder{
    color: white;
}

button{
    align-items: center;
    justify-content: center;
    border: none;
    width: 65px;
    height: 65px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.equal{
    background-color: orange;
}
.operator{
    background-color: green;
}

.container2{
    background-color: greenyellow;
}

.buttondiv{
    width: 100%;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width:1000px){
 
    .main{
        height: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .calculator{
        width: 85%;
        height: 85%;
        padding-bottom: 10px;
    }
}